/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Animation classes for "Animate in Viewport"
prefix all names with "vpa-" for consistency

For any classes like :first-child :before :after - These may affect teh Bricks Editor
Prefix thode rules with body.bricks-is-frontend to exclude from the Editor
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*General hide animation items until initialised */
.vpa-track:not(.vpa-initalized),  .vpa-no-track:not(.vpa-initalized){
    opacity: 0;
}

/** For Bricks Editor, unset all opacity and transformations */
body:not(.bricks-is-frontend) .vpa-track:not(.vpa-initalized), body:not(.bricks-is-frontend) .vpa-no-track:not(.vpa-initalized)  {
    opacity: 1;
    transform: none;
    clip-path: unset;
}

/*############
Common variables
These may be overriden by any animation class
*/
.vpa-track, .vpa-no-track{
    --delay: 0s;
    --opacity-start: 0;
    --opacity-end: 1;
    --opacity-duration: 0.5s;
    --transform-duration-in: 0.5s;
    --transform-duration-out: 1s;
    --transition-timing: ease-out;
}

/*#########################
Transition Classes
 */

/**-------------------
Simple
*/
/* vars */
.vpa-fade-in-y > *:first-child {
    --distance: 30px;
}

/* Starting point */
body.bricks-is-frontend .vpa-fade-in-y  > *:first-child {
    transform: translateY(var(--distance));
    opacity: var(--opacity-start);
    transition: opacity var(--opacity-duration) ease, transform var(--transform-duration-out) var(--transition-timing);
}

/* Ending point */
body.bricks-is-frontend  .vpa-fade-in-y.in-view > *:first-child {
    transform: translateY(0);
    opacity: var(--opacity-end);
    transition: opacity var(--opacity-duration) ease var(--delay), transform var(--transform-duration-in) var(--transition-timing) var(--delay);
}

.vpa-fade-in-x > *:first-child {
    --distance: 30px;
}

/* Starting point */
body.bricks-is-frontend .vpa-fade-in-x  > *:first-child {
    transform: translateX(var(--distance));
    opacity: var(--opacity-start);
    transition: opacity var(--opacity-duration) ease, transform var(--transform-duration-out) var(--transition-timing);
}

/* Ending point */
body.bricks-is-frontend  .vpa-fade-in-x.in-view > *:first-child {
    transform: translateX(0);
    opacity: var(--opacity-end);
    transition: opacity var(--opacity-duration) ease var(--delay), transform var(--transform-duration-in) var(--transition-timing) var(--delay);
}

/**-------------------
Rotate and Fade In
*/

/* vars */
.vpa-rotate-left-fade-in > *:first-child {
    --scale-start: 0.5;
    --rotate-start: -8deg;
}

/* Starting point */
body.bricks-is-frontend .vpa-rotate-left-fade-in > *:first-child {
    transform: scale(var(--scale-start)) rotate(var(--rotate-start));
    opacity: var(--opacity-start);
    transition: opacity var(--opacity-duration) ease, transform var(--transform-duration-out) var(--transition-timing);
}

/* Ending point */
body.bricks-is-frontend  .vpa-rotate-left-fade-in.vpa-initalized.in-view > *:first-child {
    transform: scale(1) rotate(0deg);
    opacity: var(--opacity-end);
    transition: opacity var(--opacity-duration) ease var(--delay), transform var(--transform-duration-in) var(--transition-timing) var(--delay);
}

body.bricks-is-frontend .vpa-rotate-right-fade-in > *:first-child {
    --scale-start: 0.5;
    --rotate-start: 8deg;
}

/* Starting point */
body.bricks-is-frontend .vpa-rotate-right-fade-in > *:first-child {
    transform: scale(var(--scale-start)) rotate(var(--rotate-start));
    opacity: var(--opacity-start);
    transition: opacity var(--opacity-duration) ease, transform var(--transform-duration-out) var(--transition-timing);
}

/* Ending point */
body.bricks-is-frontend .vpa-rotate-right-fade-in.vpa-initalized.in-view > *:first-child {
    transform: scale(1) rotate(0deg);
    opacity: var(--opacity-end);
    transition: opacity var(--opacity-duration) ease var(--delay), transform var(--transform-duration-in) var(--transition-timing) var(--delay);
}

/**-------------------
Zooming
*/

/* vars */
body.bricks-is-frontend .vpa-big-zoom-in {
    --scale-start: 0.1;
    --scale-end: 30;
}


/*start*/
body.bricks-is-frontend .vpa-big-zoom-in > *:first-child {
    transform: scale(var(--scale-start));
    opacity: var(--opacity-start);
    transition: opacity var(--opacity-duration) ease, transform var(--transform-duration-out) var(--transition-timing);
}

/*end*/
body.bricks-is-frontend .vpa-big-zoom-in.vpa-initalized.in-view > *:first-child {
    transform: scale(var(--scale-end));
    opacity: var(--opacity-end);
    transition: opacity var(--opacity-duration) ease var(--delay), transform var(--transform-duration-in) var(--transition-timing) var(--delay);
}

/**-------------------
Clip Reveals
*/

/* right to left */

body.bricks-is-frontend .vpa-reveal-clip-to-left {
    --percent-start: 95%;
    --percent-end: 0%;
}

body.bricks-is-frontend .vpa-reveal-clip-to-left > *:first-child {
    clip-path: polygon(var(--percent-start) var(--percent-end), 100% var(--percent-end), 100% 100%, var(--percent-start) 100%);
    opacity: var(--opacity-start);
    transition: opacity var(--opacity-duration), clip-path var(--transform-duration-out), transform var(--transform-duration-out) var(--transition-timing);
}

body.bricks-is-frontend .vpa-reveal-clip-to-left.vpa-initalized.in-view > *:first-child {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: var(--opacity-end);
    transition: opacity var(--opacity-duration) ease var(--delay), clip-path var(--transform-duration-in) var(--transition-timing) var(--delay), transform var(--transform-duration-out) var(--transition-timing);
}

/* left to right */
body.bricks-is-frontend .vpa-reveal-clip-to-right {
    --percent-start: 5%;
    --percent-end: 100%;
}

body.bricks-is-frontend .vpa-reveal-clip-to-right > *:first-child {
    clip-path: polygon(0% 0%, var(--percent-start) 0%, var(--percent-start) 100%, 0% 100%);
    opacity: 0.1;
    transition: opacity var(--opacity-duration), clip-path var(--transform-duration-out), transform var(--transform-duration-out) var(--transition-timing);;
}

body.bricks-is-frontend .vpa-reveal-clip-to-right.vpa-initalized.in-view > *:first-child {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: var(--opacity-end);
    transition: opacity var(--opacity-duration) ease var(--delay), clip-path var(--transform-duration-in) var(--transition-timing) var(--delay), transform var(--transform-duration-out) var(--transition-timing);
}

/**-------------------
Underlines
*/
body.bricks-is-frontend .vpa-underline > *:first-child{
    --bg-color: rgba(255,0,0,.6);
    --border-radius: 3px;
    --height: 0.3rem;
    --bottom: 0;
    --rotation: 1deg;
    --display: inline-block;
    isolation: isolate; /* reset for z-index */
}
body.bricks-is-frontend .vpa-underline > *:first-child{
    display: var(--display);
    padding: var(--padding);
    position: relative;
}

body.bricks-is-frontend .vpa-underline > *:first-child:before{
    content: '';
    position: absolute;
    bottom: var(--bottom);
    left:0;
    width: 0%;
    border-radius: var(--border-radius);
    height: var(--height);
    background: var(--bg-color);
    transform: rotate(var(--rotation));
    transition:  width var(--transform-duration-out) var(--transition-timing);
    z-index: -1;

}

body.bricks-is-frontend .vpa-underline.vpa-initalized.in-view  > *:first-child:before{
    width: 100%;
    transition: width var(--transform-duration-in) var(--transition-timing) var(--delay);
}

/**-------------------
Highlighters
*/
body.bricks-is-frontend .vpa-highlighter > *:first-child{
    --box-shadow-in: 2px 2px 6px #00000055;
    --box-shadow-out: none;
    --bg-color: rgba(255,0,0,.6);
    --border-radius: 5px;
    --padding: 10px;
    --rotation: 1deg;
    --display: inline-block;
    isolation: isolate; /* reset for z-index */
}
body.bricks-is-frontend .vpa-highlighter > *:first-child{
    display: var(--display);
    padding: var(--padding);
    position: relative;
}

body.bricks-is-frontend .vpa-highlighter > *:first-child:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    transform: rotate(var(--rotation));
    box-shadow: var(--box-shadow-out);
    transition:  width var(--transform-duration-out) var(--transition-timing), box-shadow 0.1s;
    z-index: -1;
    border-radius: var(--border-radius);
}

body.bricks-is-frontend .vpa-highlighter.vpa-initalized.in-view  > *:first-child:before{
    width: 100%;
    box-shadow: var(--box-shadow-in);
    transition: width var(--transform-duration-in) var(--transition-timing) var(--delay);
}

/**-------------------
Background Box Reveal
*/
body.bricks-is-frontend .vpa-box-reveal > *:first-child{
    --bg-color: rgba(255,0,0,.6);
    --border-radius: 5px;
    --padding: 10px;
    --rotation: 1deg;
    --display: inline-block;
    isolation: isolate; /* reset for z-index */
}
body.bricks-is-frontend .vpa-box-reveal > *:first-child{
    display: var(--display);
    padding: var(--padding);
    position: relative;
    border-radius: var(--border-radius);
    background: var(--bg-color);
    transform: rotate(var(--rotation));
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
    transition: clip-path var(--transform-duration-out) var(--transition-timing);
}


.vpa-box-reveal.vpa-initalized.in-view  > *:first-child{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: clip-path var(--transform-duration-out) var(--transition-timing) var(--delay);
}


/**-------------------
Shadows
*/
body.bricks-is-frontend .vpa-shadow-standoff {
    --distance: 30px;
    --neg-dist: calc(-1 * var(--distance));
    --half-dist: calc(distance / 2);
    --box-shadow-off: 0 0 3px #00000033;
    --box-shadow-on: var(--half-dist) var(--half-dist) var(--half-dist) #00000066;
}

body.bricks-is-frontend .vpa-shadow-standoff {
    box-shadow: var(--box-shadow-off);
    transform: translateX(0) translateY(0);
    transition: box-shadow var(--transform-duration-out), transform var(--transform-duration-out);
}

body.bricks-is-frontend .vpa-shadow-standoff.vpa-initalized.in-view {
    box-shadow: var(--box-shadow-on);
    transform: translateX(var(--neg-dist)) translateY(var(--neg-dist));
    transition: box-shadow var(--transform-duration-in) var(--transition-timing) var(--delay), transform var(--transform-duration-in) var(--transition-timing) var(--delay);
}


/*#########################
Keyframe Classes
 */

/**-------------------
Example
*/
.vpa-keyframe-sample {
    --distance: 100px;
    --opacity-start: 0;
    --opacity-end: 1;
}

.vpa-keyframe-sample .my-target {
    animation: vpa-keyframe-sample-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.vpa-keyframe-sample.vpa-initalized.in-view .my-target {
    animation: vpa-keyframe-sample-in;
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: var(--transform-duration-in);
    animation-timing-function: var(--transition-timing);
}

@keyframes vpa-keyframe-sample-in {
    0% {
        opacity: var(--opacity-start);
        transform: translateX(var(--distance)) translateY(var(--distance));
    }
    50% {
        opacity: var(--opacity-end);
        transform: translateX(0px) translateY(var(--distance));
    }
    100% {
        opacity: var(--opacity-end);
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes vpa-keyframe-sample-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}